.answer {
    max-width: 100%;
    width: auto;
    border: 1px solid black;
    padding: 10px;
    font-weight: 300;
    position: relative;
    font-size: 20px;
}

.question {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    
}

.answer::after {
    content: "\"";
    position: absolute;
    top: -10px;
    left: -10px;
    color: red;
    font-size: 30px;

}
.answer::before {
    content: "\"";
    position: absolute;
    bottom: -25px;
    right: -5px;
    color: red;
    font-size: 30px;

}

