.graduate__top {
    display: flex;
}

.graduate_field {
    
}
.graduate__info {
    width: 70%;
}

.graduate__img {
    width: 30%;
}

.graduate__info_field {
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}

.field__name {
    width: 30%;
    font-weight: 300;
    font-size: 20px;
}

.field__value {
    font-weight: 500;
    font-size: 20px;
    width: 70%;
}

.fio {
    background-color: #18C77A;
    color: white;
    font-weight: bold;
    width: 100%;
    margin-right: -25px;
    padding: 2px 50px;
    position: relative;
}
.fio:before {
    width: 0;
    height: 0;
    border-top: 40px solid white;
    border-right: 40px solid transparent;
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
}

.graduate__bottom {
    font-weight: 300;
    font-size: 18px;
    display: none;
    line-height: 1.5;
    padding: 10px;
}

.btn-show {
    background-color: transparent;
    border: none;
    font-size: 20px;
    color: #326670;
    text-decoration: underline;
}

.show {
    display: block;
}

.block-question {
    padding: 20px;
    font-size: 20px;
    border: 1px solid black;
    margin-right: 20px;
    width: 50%;
    background-color: white;
}

.content-block {
    display: flex;
    align-items: center;
}

.block-btn {
    width: 50%;
}

.modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.modal.active {
    opacity: 1;
    pointer-events: all;
}

.modal__content {
    padding: 20px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modal__content.active {
    transform: scale(1);
}