.logo {
    width: 240px;
    height: 55px;
    margin-right: 30px;
}

.logo::after {
    content: "";
    background: #000;
    width: 2px;
    height: 25px;
    margin-right: 10px;
}
.header {
    background-image: url('../../assets/cover-faculty2.jpg');
    background-repeat: no-repeat;
    
    background-color: #FFF;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
}

.header__upper {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.contacts {
    text-align: right;
}
.contacts__mail, .contacts_phone {
    text-decoration: none;
    
    color: red;
    text-align: right;
}

.logo-info {
    display: flex;
}

.nav-link {
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.active {
    color: red;
}
