.question-list {
    margin: 20px 20px;
    text-align: center;
    max-height: 400px;
    overflow-y: scroll;
    min-width: 800px;
}

.question-list__header {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
}

.question__item {
    align-items: center;
    margin: 10px 0;
    border-bottom: solid 2px black;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr 2fr;
}

.approve {
    color: green;
    background-color: transparent;
    border: none;
    cursor: pointer;
}